@*@model IEnumerable<TodoViewModel>*@

@{
    ViewBag.Title = "Task list";
}

<script src="~/js/DataTables/jquery.dataTables.js" asp-append-version="true"></script>
<script src="~/js/TodoTask.js" asp-append-version="true"></script>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/DataTables/jquery.dataTables.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/images/sort_asc.png" asp-append-version="true" />
<link rel="stylesheet" href="~/images/sort_asc_disabled.png" asp-append-version="true" />
<link rel="stylesheet" href="~/images/sort_both.png" asp-append-version="true" />
<link rel="stylesheet" href="~/images/sort_desc.png" asp-append-version="true" />
<link rel="stylesheet" href="~/images/sort_desc_disabled.png" asp-append-version="true" />

<style>
    /*used to guarantee headers in datatables won't wrap text*/
    .clsNoWrap {
        white-space: nowrap
    }
    th {
        text-align: center
    }
    td {
        text-align: center;
        vertical-align: middle;
    }

    .taskDone {
        background-color: #C5E3BF !important;
    } 

</style>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default container-fluid">
            <div class="panel-heading row">
                <div class="col-md-8">
                    <span style="font-size:large;">
                        Welcome '<span style="font-weight:bold;">@User.Identity.Name</span>', your TODO task list:
                    </span>
                </div>
                <div class="col-md-4 text-right">
                    <button class="btn btn-default" data-toggle="modal" data-target="#AddEditTaskModal" title="Add a new Task" onclick="AddTask();">
                        <span class="glyphicon glyphicon-plus" style="color:green;"></span>
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <table id="TaskListDataTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th width="5%"></th>
                            <th >Done</th>
                            <th class="clsNoWrap">Creation Date</th>
                            <th>Description</th>
                            <th class="clsNoWrap">Modification Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*MODAL*@
<div id="AddEditTaskModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleHeaderModal"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="comment">Description:</label>
                    <textarea id="txtDescription" class="form-control" rows="5" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btnTaskEvent"></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>